body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


/* Start About Section */
.about-img {
    margin: 20px 0px;
}

.about-img img {
    display: flex;
    max-width:45.625rem;
}

.section-about {
  padding: 10px 20px;
  padding-bottom: 0;
}

.world-img {
    padding-left: 0;
}

.world-img img {
    max-width: 340px;
    height: 16.75rem;
}

.section-world {
    padding-bottom:0;
}

.privacy-img {
    padding-left: 0;
    padding-right:0;
}

.privacy-img img {
    min-width: 365px;
    height: 12.25rem;
    margin-left:25px;
}

.section-privacy {
    max-width: 340px;
    padding-bottom:0;
    margin-bottom: 5vh;
    padding-right:0;
}
/* End About Section */

.article-title {
  color: #444444;
}

a.view-more {
    color: #828282;
}

.list-group a:hover {
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    text-decoration:none;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
